@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--accent-color: #e60000;
	--neutral-color: #fbfbfb;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
}
#root {
	height: 100%;
	display: grid;
	grid-template-columns: 5.6rem 1fr;
	grid-template-rows: 5.6rem 1fr;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
}
